@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* Mi estilo */
html,
body {
    font-family: "montserrat", sans-serif;
    color: #8f0c0c;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
    font-weight: 300;
}

a {
    text-decoration: none;
}

/* Utility Classes */